doctype
html(ng-app='HomeControl')
head
  meta(charset='UTF-8')
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Home Cental
  script.
    Polymer = {lazyRegister: true,
    useNativeCSSProperties: true};
  script(src='components/webcomponentsjs/webcomponents-lite.js')
  script(src='libs/angular/angular.js')
  script(src="libs/socket.io/node_modules/socket.io-client/dist/socket.io.js")
  script(src='js/controllers/home-server.js')
  link(rel="import" href="components/iron-image/iron-image.html")
  link(rel="import" href="components/paper-slider/paper-slider.html")
  link(rel="import" href="components/iron-icons/iron-icons.html")
  link(rel="import" href="components/paper-fab/paper-fab.html")
  link(rel="import" href="components/paper-button/paper-button.html")
  link(rel="import" href="components/paper-time-input/paper-time-input.html")
  link(rel="import" href="components/iron-pages/iron-pages.html")
  link(rel='stylesheet', href='css/core.css')
  script(src='libs/angular-nvd3/dist/angular-nvd3.js')
body(ng-controller='mainController as ctrl')
  section.section
      iron-pages(selected="0" id="pages-ontap")
        div.image-background
          div.center-container
            div.blur-background
              div.text-container
                span.text {{ctrl.current_temp}}
            div.slider
              paper-slider(id="target" class ="red" value="15" min="8" max="30" pin editable)
        div.image-background
          div.blur-background-time
          div.center-container-time
              paper-time-input.time-input(id='time_input' format="24" hour="4" min="20")
              paper-slider.time-slider(id='time_target' class ="red" min="8" max="30" pin editable)
              paper-button.time-button(raised ng-click='ctrl.add_timer()') Add timer
      div.bottom-menu
        div.bottom-menu-container
          div.botton
            paper-fab.blue(icon="icons:query-builder" title="timer" ng-click="ctrl.clickNext()")
          div.botton
            paper-fab(icon="icons:trending-up" title="chart")
          div.botton
            paper-fab(icon="favorite" title="heart")

