doctype
html
head
  meta(charset='UTF-8')
  title Home Cental

  script(src='components/webcomponentsjs/webcomponents-lite.js')
  script(src='libs/socket.io/socket.io-1.4.5.js')
  script(src='libs/angular/js/angular-1.5.0.js')
  script(src='js/controllers/home-server.js')
  link(rel='stylesheet', href='css/core.css')
  link(rel="import" href="components/iron-image/iron-image.html")
body(ng-controller='mainController as ctrl')
  section.section
    div.image-background
      div.blur-background
      div.text-background
          span +8


