.section {
    background-color: SteelBlue; #PowderBlue 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.background {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.text_background {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity:0.8;
    height: 150px;
    width: 150px;
    font-size: 100px;
    color: white;
}

.top {
    height: 30%;
    box-sizing: border-box;
}

.middle {
    height: 30%;
}

.bottom{
    height: 40%;
}
