.section {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.image-background {
    position: relative;
    background: #eee url(http://lorempixel.com/500/500);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.blur-background {
  box-shadow: 0 0 10px .1px;
  width:300px;
  height:350px;
  position:absolute;
  margin: auto;
  top:0;left:0;right:0;bottom:0;
  background-color:#eee;
  border-radius: 6px;
  overflow:hidden;
}

.blur-background::after {
  content: "";
  height: 350px;
  width: 300px;
  opacity:.8;
  filter: blur(5px);
  background: url(http://lorempixel.com/500/500);
  background-position: center;
  background-repeat: no-repeat;
  display: block;    
}

.text_background {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    opacity:0.8;
    height: 150px;
    width: 150px;
    font-size: 100px;
    color: white;
}

.top {
    height: 30%;
    box-sizing: border-box;
}

.middle {
    height: 30%;
}

.bottom{
    height: 40%;
}
