# service file locate in: /etc/systemd/system. Symlink to this file has been created to keep changes applied
[Unit]
Description=Temperture control service
After=network.target

[Service]
Type=simple
User=debian
Group=debian
ExecStart=/home/debian/home-control/tools/init_thermo_service.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
